/**
  *
  * Core Parteils
  *
*/
* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background: gray;
}

.row {
  display: flex;
}

.infobox {
  color: rgb 255, 255, 255;
  background: #1eff00;
}

h3 {
  font-size: 1.3rem;
  color: white;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
